<div class="container">
  <div class="shared-group">
    <h2>生産者さま無料会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "producers/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :corporate_name, "事業団体名" %><br>
        <%= f.text_field :corporate_name, autofocus: true, placeholder: 'ふーですと農園' %>
      </div>

      <div class="field">
        <%= f.label :representative, "代表者さま氏名" %><br>
        <%= f.text_field :representative, placeholder: '山田太郎' %>
      </div>

      <div class="field">
        <%= f.label :post_code, "所在地郵便番号（ハイフンなし）" %><br>
        <%= f.text_field :post_code, placeholder: '0005555' %>
      </div>

      <div class="field">
        <%= f.label :address, "所在地住所" %><br>
        <%= f.text_field :address, placeholder: '東京都港区芝公園4-2-8' %>
      </div>

      <div class="field">
        <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br>
        <%= f.text_field :phone_number, placeholder: '09022225555' %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス（必須）" %><br/>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（必須）" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード再確認" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>

    <%= render "producers/shared/links" %>
  </div>
</div>