<div class="all-contents">
	<h2 class="title">
		<%= @recipe.title %>
	</h2>
	<div class="line"></div>

	<div id="likes_buttons_<%= @recipe.id %>">
		<%= render partial: 'producer/likes/like', locals: { recipe: @recipe} %>
	</div>

	<% if @producer == current_producer %>
		<div class="recipe-edit-btn">
			<%= link_to edit_producer_recipe_path(@recipe.id), class: "btn btn-outline-success" do %>
				<span>レシピを修正</span>
			<% end %>

			<%= link_to producer_recipe_path(@recipe.id), class: "btn btn-outline-danger", method: :delete, 'data-confirm' => '本当に削除しますか？' do %>
				<span>レシピを削除</span>
			<% end %>
		</div>
	<% end %>
	
	<div class="recipe-group">
		<%= attachment_image_tag(@recipe, :recipe_image, fallback: "/images/no_image.png", format: "jpg", class: "show-recipe-image") %>

		<div class="recipe-descriptions">
			<div class="recipe-description">
				<h5>レシピの説明</h5>
				<div class="recipe-description-line"></div>
				<p>
					<% if @recipe.description.nil? %>
						<%= @recipe.description %>
					<% else %>
						<%=safe_join(@recipe.description.split("\n"),tag(:br))%>
					<% end %>
				</p>
			</div>
			<div class="total-time">
				<h5>調理時間</h5>
				<div class="recipe-description-line"></div>
				<p><%= @recipe.total_time %></p>
			</div>
			<div class="tags">
				<h5>タグ</h5>
				<div class="recipe-description-line"></div>
				<div class="tag-box">
					<% @recipe.tags.each do |tag| %>
					  <span class="label"><%= tag.name %></span>
					<% end %>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="poster-group">
			<%= link_to producer_producer_path(@recipe.producer.id) do %>
				<%= attachment_image_tag @recipe.producer, :producer_image, fallback: "/images/no_image.png", class: "poster-image" %>
				<%= @recipe.producer.corporate_name %>　さんのレシピ
			<% end %>
		</div>

	</div>

	<!-- レシピの材料部分 -->
	<div class="recipe-ingredients-group">
		<h3 class="title">材料</h3>
		<div class="line"></div>
		<div class="ingredients-item">
			<% @ingredients.each do |ingredient| %>
				<p><%= ingredient.item %>　　</p>
				<p><%= ingredient.amount %></p><br>
			<% end %>
		</div>
	</div>

	<!-- レシピの作り方部分 -->
	<div class="recipe-method-group">
		<h3 class="title">作り方</h3>
		<div class="line"></div>
		<div class="recipe-method-content">
			<% i = 0 %>
			<% @steps.each do |step| %>
				<span><%= i += 1 %>．</span>
				<p><%= step.method %></p><br>
			<% end %>
		</div>
	</div>
</div>