<h2 class="recipe-title">
	<%= @recipe.title %>
</h2>
<div class="line"></div>

<div class="recipe-group">
	<div class="recipe-image-box">
		<%= attachment_image_tag(@recipe, :recipe_image, fallback: "no_image.png", format: "jpg", class: "recipe-image") %>
	</div>

	<div class="recipe-descriptions">
		<div class="recipe-description">
			<h5>レシピの説明</h5>
			<div class="recipe-description-line"></div>
			<p><%= @recipe.description %></p>
		</div>
		<div class="total-time">
			<h5>調理時間</h5>
			<div class="recipe-description-line"></div>
			<p><%= @recipe.total_time %>　分</p>
		</div>
		<div class="poster">
			<h5>投稿者</h5>
			<div class="recipe-description-line"></div>
			<p><%= @recipe.producer.corporate_name %></p>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<!-- 投稿者のみが編集できるようにする -->
<% if @producer.id == current_producer.id %>
	<div class="edit-btn">
		<%= link_to edit_producer_recipe_path(@recipe.id), class: "btn-animation-02" do %>
			<span>レシピを修正</span>
		<% end %>
	</div>
<% end %>

<!-- レシピの材料部分 -->
<div class="recipe-ingredients-group">
	<h2 class="recipe-title">材料</h2>
	<div class="line"></div>
	<div class="ingredients-item">
		<% @ingredients.each do |ingredient| %>
			<p><%= ingredient.item %></p>
		<% end %>
	</div>
</div>

<!-- レシピの作り方部分 -->
<div class="recipe-method-group">
	<h2 class="recipe-title">作り方</h2>
	<div class="line"></div>
</div>